* {margin:0 0 10px 0;padding:0; font-size: 1.5rem}
html {
   font-size: 10px;
}
body{
   background-color:rgb(14,52,77); 
   background-image:linear-gradient(135deg, rgb(0,12,48), rgb(0,48,100) );
   font-size: 10px;
}
div {
    position:relative;
    background-color:rgba(255,255,255,.8);
    width:900px;
    height:auto;
    margin:50px auto 260px auto;
    padding:17px;
    border: 1px solid rgb(255,255,255);
    box-shadow: 0 0 10px 0 rgb(0,0,0);
    font-size:30px;
}

h1 {
   font-family: Myriad Pro, Arial, sans-serif;
   font-size:2rem;
}
p {
   font-size: 20px;
}
span {
   font-size: 1.5rem;
}