* {margin:0;padding:0;}
body{background-color:rgb(0,0,0,.7);}
div {
    position:relative;
    background-color:rgba(255,255,255,.3);width:500px;height:5000px;margin:50px 200px;
}
p {
    position:relative;
    top:30px;
    left:30px; 
    background-color:rgba(0,255,120,.7);width:100px;height:100px;
}
section {
    background-color:rgba(255,255,0,1);width:100px;height:100px;
}
article {
    background-color:rgba(255,120,0,1);width:100px;height:100px;
}