* {margin:0;padding:0;}
body{background-color:rgb(0,0,0,.7);}
div {
    float:left;
    background-color:rgba(0,120,255,.7);
    width:500px;
    height:100px;
    margin-left:10px;
}
p {
    float:right;
    background-color:rgba(0,255,120,.7);
    width:100px;
    height:100px;
}
section {
    float:right;
    background-color:rgba(255,255,0,1);
    width:100px;
    height:100px;
}
article {
    float:left;
    background-color:rgba(255,120,0,1);
    width:50px;
    height:100px;
    margin-left:10px;
}