* {margin:0;padding:0;}
body{background-color:rgb(14,25,54);}
div {
   position:relative;
   background-color:rgba(255,255,255,1);
   width:200px;
   height:200px;
   margin:100px auto;
   border: 10px solid rgba(0,255,255,.3);
   padding:10px;
}

.box-sizing {
   box-sizing: border-box;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
}



